.carousel {
  display: block;

  position: relative;

  margin: 0 auto;
}

.carousel-indicators {
  display: flex;
  justify-content: center;

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;

  margin-right: 15%;
  margin-left: 15%;

  list-style: none;

  li {
    flex: 0 1 auto;

    width: 30px;
    height: 6px;
    box-sizing: content-box;

    margin-right: 3px;
    margin-left: 3px;

    background-color: #fff;
    background-clip: padding-box;

    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    opacity: .5;

    cursor: pointer;

    transition: opacity .6s ease;
  }

  .active {
    opacity: 1;
  }
}

.carousel-inner {
  width: 100%;
  height: 500px;
  overflow: hidden;

  position: relative;
}

.carousel-slides {
  height: 100%;
  display: flex;
}

.carousel-item {
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.carousel-prev, .carousel-next {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 15%;

  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;

  font-size: 40px;

  color: #fff;

  text-align: center;
  text-decoration: none;

  opacity: .5;

  transition: opacity .15s ease;

  &:hover {
    background-color: rgba(0,0,0, .2);

    opacity: .9;
  }
}

.carousel-prev {
  left: 0;
}

.carousel-next {
  right: 0;
}